.contenedor {
  padding: 8px;
  background-color: #fff;
  background-size: cover;
  background-position: center center;
  font-size: 40px;
  text-align: left;

  display: flex;
  color: aliceblue;
  padding: 300px;
  min-height: 40vh;
  max-height: 100vh;
  flex-direction: column;
  justify-content: center;
  margin-top: 0%;
}

.contenedor p {
  font-size: 20px;
  width: 600px;
  position: absolute;
  top: 220px;
  font-family: sans-serif;
}

.contenedor h1 {
  position: absolute;
  top: 0;
  color: #e7e7e7;
  font-size: 130px;
  font-style: oblique 10deg;
  line-height: 70px;
  font-weight: 700;
  text-shadow: 3px -1px #29f3e2, -3px 1px #f0f;
}

.contenedor button {
  font-size: 24px;
  padding: 15px 60px;
  border-radius: 15px;
  position: absolute;
  top: 350px;
  text-shadow: 0 0 4px #fff;
}

.contenedor button:hover {
  background-color: #0056b3;
  color: #fff;
}
