.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination button {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 8px;
}

.pagination button:active,
.pagination button:focus {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  cursor: pointer;
}

.pagination button.disable {
  background-color: #ddd;
  color: #555;
  border: none;
}
